{% load static %}

{%load compress%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanchivaram.in</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/img/logo/logo.ico' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'app/css/output.css' %}">
    {% endcompress %}

</head>
<body>
    {% include 'app/header.html' %}
    
    {% block content %}
    {% endblock %}
    
    {% include 'app/footer.html' %}
</body>
</html>
