body {
    background: #f4eed8;
    color: #b18b2e;

}

.hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url("/static/app/img/hero/bg.png");
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-container {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.hero-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-graphics {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(0%) rotate(20deg);
    width: 70rem;
    height: auto;
}

.hero-graphics-2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-35%) translateY(39%) rotate(18deg);
    width: 70rem;
    height: auto;
}

.hero-video {
    width: auto;
    height: 100vh;
    object-fit: cover;
    z-index: 100;
}

.hero-logo {
    width: 250px;
    height: 150px;
}

.margin-10 {
    margin-top: 20px;
}

@media (max-width: 641px) {
    .hero-container {
        flex-direction: column;
        gap: 0;
    }

    .hero-left-container button {
        display: none;
    }

    .hero-left-container h1 {
        font-size: 22px;
    }

    .hero-logo {
        width: 127px;
        height: 84px;
    }

    .margin-10 {
        margin-top: 0;
    }

    .hero-video {
        width: 20rem;
        height: 45vh;
        object-fit: cover;
        z-index: 100;
        margin-top: 1rem;
        border-radius: 50%;
    }
    .hero{
        padding-top: 0;
    }
}
