.idea
.venv
.env
db.sqlite3

# Pytest
.pytest_cache/
coverage.xml
htmlcov/
.env.local
staticfiles
*.log

node_modules/
venv/
**/__pycache__/
migrations/0*
static/CACHE
media/
static/app/css/output.css