{% extends 'app/base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto p-5 text-green-900 bg-beige">
        <h1 class="text-3xl font-serif font-bold text-center mb-6 uppercase mt-6">Disclaimer Policy</h1>
        <div class="bg-white bg-opacity-40 shadow-lg rounded-lg p-8">
            <p>Welcome to Kanchivaram.in. This Disclaimer Policy governs your use of our website. By accessing or using our website, you agree to comply with and be bound by this Disclaimer Policy. If you disagree with any part of this policy, please do not use our website.</p>
            <h2 class="font-serif font-bold mt-4">Accuracy of Information</h2>
            <p>While we strive to provide accurate and up-to-date information on our website, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
            <h2 class="font-serif font-bold mt-4">Product Representation</h2>
            <p>Product images on our website are for illustrative purposes only. We make every effort to display the colors and details accurately, but we cannot guarantee that your device's display accurately reflects the colors of the products. The actual products may vary slightly from the images.</p>
            <h2 class="font-serif font-bold mt-4">Availability and Pricing</h2>
            <p>Product availability and pricing are subject to change without notice. We reserve the right to modify or discontinue products or services without prior notice. We are not liable for any modification, price change, suspension, or discontinuance of any product or service.</p>
            <h2 class="font-serif font-bold mt-4">External Links</h2>
            <p>Our website may contain links to external websites that are not operated by us. We have no control over the content and nature of these external sites. The inclusion of any links does not necessarily imply a recommendation or endorsement of the views expressed within them.</p>
            <h2 class="font-serif font-bold mt-4">Viruses and Security</h2>
            <p>We do not guarantee that our website is free from viruses or other harmful components. It is your responsibility to implement sufficient security procedures to meet your particular requirements.</p>
            <h2 class="font-serif font-bold mt-4">Limitation of Liability</h2>
            <p>In no event will Kanchivaram.in be liable for any loss or damage, including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of our website.</p>
            <h2 class="font-serif font-bold mt-4">Governing Law</h2>
            <p>This Disclaimer Policy is governed by the laws of India. Any disputes arising in connection with this policy shall be resolved in the courts of law.</p>
            <h2 class="font-serif font-bold mt-4">Changes to Disclaimer Policy</h2>
            <p>We reserve the right to update, change, or modify this Disclaimer Policy at any time without notice. Any changes will be effective immediately upon posting on our website.</p>
            <h2 class="font-serif font-bold mt-4">Contact Information</h2>
            <p>For any inquiries regarding this Disclaimer Policy, please contact us at <a href="mailto:kanchivaram.in@gmail.com" class="text-blue-600 hover:underline">kanchivaram.in@gmail.com</a>.</p>
            <p class="mt-4">By using our website, you agree to the terms of this Disclaimer Policy. Thank you for choosing Kanchivaram.in.</p>
            <p class="font-bold">Elegance. Tradition. Kanchivaram.in.</p>
        </div>
    </div>
{% endblock %}
