{% extends 'app/base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto p-5 text-green-900 bg-beige">
        <h1 class="text-3xl font-serif font-bold text-center mb-6 uppercase mt-6">Privacy Policy</h1>
        <div class="bg-white bg-opacity-40 shadow-lg rounded-lg p-8">
            <p>Welcome to Kanchivaram.in. This Privacy Policy outlines how we collect, use, disclose, and protect your
                information when you visit our website or engage with our services. By using our website, you agree to
                the terms of this Privacy Policy.</p>
            <h2 class="font-serif font-bold mt-4">Information We Collect</h2>
            <p><strong>Personal Information:</strong> We may collect personal information such as your name, email
                address, phone number, and shipping address when you place an order or subscribe to our newsletter.</p>
            <p><strong>Non-Personal Information:</strong> We may also collect non-personal information such as browser
                type, operating system, and IP address for analytical purposes to enhance your user experience.</p>
            <h2 class="font-serif font-bold mt-4">How We Use Your Information</h2>
            <p><strong>Order Fulfillment:</strong> We use your personal information to process and fulfill your orders,
                including shipping and customer service.</p>
            <p><strong>Communication:</strong> With your consent, we may use your contact information to send you
                promotional materials, newsletters, or updates about our products and services.</p>
            <p><strong>Website Improvement:</strong> Non-personal information is used for analyzing trends,
                administering the site, and gathering demographic information for internal purposes to improve our
                website and services.</p>
            <h2 class="font-serif font-bold mt-4">Data Security</h2>
            <p>We prioritize the security of your information. We implement industry-standard security measures to
                protect against unauthorized access, disclosure, alteration, or destruction of your personal
                information.</p>
            <h2 class="font-serif font-bold mt-4">Cookies</h2>
            <p>We use cookies to enhance your browsing experience. Cookies are small files stored on your device that
                enable certain features and functionality.</p>
            <h2 class="font-serif font-bold mt-4">Third-Party Disclosure</h2>
            <p>We do not sell, trade, or otherwise transfer your personal information to third parties unless we provide
                you with advance notice. This does not include trusted third parties who assist us in operating our
                website, conducting our business, or servicing you, as long as those parties agree to keep this
                information confidential.</p>
            <h2 class="font-serif font-bold mt-4">Your Choices</h2>
            <p><strong>Opt-Out:</strong> You may opt out of receiving promotional emails by following the instructions
                provided in each email.</p>
            <p><strong>Cookies:</strong> You can adjust your browser settings to refuse cookies or to be notified when
                cookies are being sent.</p>
            <h2 class="font-serif font-bold mt-4">Children’s Privacy</h2>
            <p>Our website is not directed to individuals under the age of 13. We do not knowingly collect personal
                information from children.</p>
            <h2 class="font-serif font-bold mt-4">Changes to Privacy Policy</h2>
            <p>We reserve the right to update, change, or modify this Privacy Policy at any time without notice. Any
                changes will be effective immediately upon posting on our website.</p>
            <h2 class="font-serif font-bold mt-4">Contact Information</h2>
            <p>For any inquiries regarding this Privacy Policy, please contact us at <a
                    href="mailto:kanchivaram.in@gmail.com" class="text-blue-600 hover:underline">kanchivaram.in@gmail.com</a>
            </p>
            <p class="mt-4">By using our website, you agree to the terms of this Privacy Policy. Thank you for choosing
                Kanchivaram.in</p>
            <p class="font-bold">Elegance. Tradition. Kanchivaram.in.</p>
        </div>
    </div>
{% endblock %}
