{% extends 'app/base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto p-5 text-green-900 bg-beige">
        <h1 class="text-3xl font-serif font-bold text-center mb-6 uppercase mt-6">Return Policy</h1>
        <div class="bg-white bg-opacity-40 shadow-lg rounded-lg p-8">
            <p>At Kanchivaram.in, we strive to provide you with the finest handwoven sarees, crafted with precision and
                care. To ensure a seamless and transparent return process, please familiarize yourself with our return
                policy:</p>

            <h2 class="font-serif font-bold mt-4">1. Parcel Opening Video Requirement</h2>
            <p>For all damage claims and return considerations, we kindly request customers to record a video while
                opening the parcel. This video is crucial for substantiating damage claims and ensuring a swift
                resolution.</p>

            <h2 class="font-serif font-bold mt-4">2. Handwoven Saree Characteristics</h2>
            <p>Given the handwoven nature of our sarees, it's important to note that extra threads, handloom marks,
                thread pullings, and jumpings are inherent characteristics and are not considered as damages. These
                elements contribute to the unique charm and authenticity of each saree.</p>

            <h2 class="font-serif font-bold mt-4">3. Damages and Reporting</h2>
            <p>Returns will be accepted only for damages to the sarees. It is imperative to report any damages within
                one day of receiving the product. The damage should be clearly recorded in the parcel opening video
                without any cuts for a valid claim.</p>

            <h2 class="font-serif font-bold mt-4">4. Saree Folding Requirements</h2>
            <p>Sarees being returned must be properly folded. Any misfolds may result in the saree being returned to the
                customer. Proper folding ensures the protection and integrity of the product during transit.</p>

            <h2 class="font-serif font-bold mt-4">5. Exchange Process</h2>
            <p>The exchange of the saree will be initiated after we receive the returned item in good condition,
                adhering to the guidelines mentioned above.</p>

            <h2 class="font-serif font-bold mt-4">6. Color Variations and Expectations</h2>
            <p>Please be aware that digital images may exhibit 5-10% color variations from the actual product. We do not
                entertain returns based on slight variations in color as individual perceptions of color and product
                expectations may differ.</p>

            <p>We value your understanding and cooperation in adhering to these guidelines to facilitate a smooth return
                process. Our commitment is to provide you with exceptional sarees, and we appreciate your trust in
                Kanchivaram.in.</p>

            <p>If you have any questions or concerns regarding our return policy, please feel free to contact us at <a
                    href="mailto:kanchivaram.in@gmail.com" class="text-blue-600 hover:underline">kanchivaram.in@gmail.com</a>.
            </p>

            <p>Thank you for choosing Kanchivaram.in.</p>
        </div>
    </div>
{% endblock %}