{% extends 'app/base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto p-5 text-green-900 bg-beige">
    <h1 class="text-3xl font-serif font-bold text-center mb-6 uppercase mt-6">Shipping and Delivery Policy</h1>
    <div class="bg-white bg-opacity-40 shadow-lg rounded-lg p-8">
        <p>Welcome to Kanchivaram.in, where we are dedicated to ensuring a delightful shopping experience for our valued customers. Our Shipping and Delivery Policy is designed to provide you with clarity on the process of receiving your exquisite Kanchipuram sarees.</p>
        <ol class="list-decimal space-y-4 pl-5 font-serif">
            <li>
                <strong>Dispatch Time:</strong> We understand the anticipation that comes with purchasing our handwoven sarees. All orders are processed within 3 business days (excluding weekends and public holidays) from the date of order placement. Please note that during peak seasons, dispatch times may be subject to slight delays.
            </li>
            <li>
                <strong>Shipping Partners:</strong> We partner with reputable courier services to ensure the safe and timely delivery of your sarees. Our shipping partners may include DTDC, DHL, FedEx & India Post among others.
            </li>
            <li>
                <strong>Delivery Time:</strong> The delivery time varies based on your location and the shipping partner. Typically, domestic orders within India are delivered within 3 to 7 business days from the dispatch date. For international orders, delivery times may vary and will be communicated during the checkout process.
            </li>
            <li>
                <strong>Shipping Rates:</strong> Shipping charges are calculated based on the weight of your order and your delivery location. The applicable shipping charges will be displayed during the checkout process before you make the payment.
            </li>
            <li>
                <strong>Order Tracking:</strong> To keep you informed about the status of your order, we provide a tracking number once your order has been dispatched. You can use this tracking number to monitor the delivery status through our website or the courier service's platform.
            </li>
            <li>
                <strong>International Shipping:</strong> For our international customers, please note that additional customs and import duties may apply. These charges are the responsibility of the customer and will be collected upon delivery.
            </li>
            <li>
                <strong>Delivery Address:</strong> Please ensure that the delivery address provided during checkout is accurate and complete. We will not be responsible for delays or non-delivery due to incorrect addresses.
            </li>
            <li>
                <strong>Delivery Confirmation:</strong> Upon successful delivery, you will receive a confirmation email or message. If you are not available to receive the package, the courier service may leave a delivery attempt notice or contact you to reschedule.
            </li>
            <li>
                <strong>Delayed or Undelivered Items:</strong> In the rare event of delayed or undelivered items, please contact our customer support at <a href="mailto:kanchivaram.in@gmail.com" class="text-blue-600 hover:underline">kanchivaram.in@gmail.com</a> so that we can promptly assist you in resolving the issue.
            </li>
        </ol>
        <p class="mt-4">Thank you for choosing Kanchivaram.in. We are committed to delivering your handcrafted sarees with the utmost care and efficiency.</p>
    </div>
</div>
{% endblock %}
