{% extends 'app/base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto p-5 text-green-900 bg-beige">
    <h1 class="text-3xl font-serif font-bold text-center mb-6 uppercase mt-6">Terms and Conditions</h1>
    <div class="bg-white bg-opacity-40 shadow-lg rounded-lg p-8">
        <ol class="list-decimal space-y-4 pl-5 font-serif">
            <li>
                <strong>Acceptance of Terms:</strong> By accessing or using the website [www.kanchivaram.in] ("the Website"), you agree to comply with and be bound by the following terms and conditions ("Terms"). If you do not agree to these Terms, please do not use the Website.
            </li>
            <li>
                <strong>Products and Services:</strong>
                <ol class="list-decimal space-y-4 pl-4">
                    <li>Authenticity of Kanchipuram Silk Sarees: We guarantee that all our products are authentic Kanchipuram silk sarees.</li>
                    <li>Product Information: While we strive to provide accurate product descriptions, we do not warrant the accuracy, completeness, reliability, or timeliness of any information on the Website.</li>
                </ol>
            </li>
            <li>
                <strong>Ordering and Payments:</strong>
                <ol class="list-decimal space-y-4 pl-4">
                    <li>Order Placement: Orders placed through the Website are subject to availability and acceptance.</li>
                    <li>Pricing: Prices are as listed on the Website and are subject to change without notice. The customer is responsible for all applicable taxes associated with the purchase.</li>
                    <li>Payment: We accept various forms of payment, and all transactions are securely processed.</li>
                </ol>
            </li>
            <li>
                <strong>Shipping and Returns:</strong>
                <ol class="list-decimal space-y-4 pl-4">
                    <li>Shipping: We aim to dispatch orders promptly; however, shipping times may vary. We are not responsible for delays beyond our control.</li>
                    <li>Returns: Please refer to our separate "Return and Refund Policy" for detailed information on returns and refunds.</li>
                </ol>
            </li>
            <li>
                <strong>Privacy Policy:</strong>
                <ol class="list-decimal space-y-4 pl-4">
                    <li>Personal Information: We collect and process personal information in accordance with our Privacy Policy. By using the Website, you consent to such processing.</li>
                </ol>
            </li>
            <li>
                <strong>Intellectual Property:</strong>
                <ol class="list-decimal space-y-4 pl-4">
                    <li>Trademarks and Copyrights: All content on the Website, including but not limited to text, images, logos, and trademarks, is the property of [Your Company Name] and protected by intellectual property laws.</li>
                </ol>
            </li>
            <li>
                <strong>Limitation of Liability:</strong> Disclaimer: We disclaim any liability for damages arising out of or in connection with the use of the Website.
            </li>
            <li>
                <strong>Governing Law:</strong> Jurisdiction: These Terms are governed by law, and any disputes shall be resolved in the courts of law.
            </li>
            <li>
                <strong>Changes to Terms and Conditions:</strong> Modification: We reserve the right to modify these Terms at any time. Changes will be effective immediately upon posting on the Website.
            </li>
            <li>
                <strong>Contact Information:</strong> For any inquiries regarding these Terms, please contact us at <a href="mailto:kanchivaram.in@gmail.com" class="text-blue-600 hover:underline">kanchivaram.in@gmail.com</a>.
            </li>
        </ol>
    </div>
</div>
{% endblock %}
