{% load static %}
<div class="flex flex-col justify-center items-center p-6 my-8 mx-4">
  <h1 class="text-4xl">OCCASIONAL AND REGULAR WEAR</h1>
<div class="carousel-container">
  
  <div class="carousel-slide">
    <img src="{% static '/app/img/pricecat/1.jpg' %}" alt="">
   <h1 class="text-2xl text-center">Semi Silk</h1>
  </div>
  <div class="carousel-slide">
    <img src="{% static '/app/img/pricecat/2.jpg' %}" alt="">
   <h1 class="text-2xl text-center">Semi Banarasi</h1>
  </div>
  <div class="carousel-slide">
    <img src="{% static '/app/img/pricecat/2.jpg' %}" alt="">
   <h1 class="text-2xl text-center">Regular Wear</h1>
  </div>
  
  
</div>
</div>