{% load static %}
<div class="flex flex-col justify-center items-center p-4 my-8 mx-4">
    <h1 class="text-2xl lg:text-4xl">REGULAR WEAR</h1>
    <div class="carousel-container">
        {% for image in images_with_prices %}
            <div class="carousel-slide border-2 flex flex-col justify-center rounded-sm items-center border-[#b18b2e] p-2">
                <a href="category/{{ image.name|slugify }}">
                    <img src="{% static image.src %}" alt="" class="rounded-sm">
                    <h1 class="text-sm md:text-xs lg:text-sm text-center ">{{ image.name }}</h1>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

