{% load static %}
<div class="flex flex-col justify-center items-center p-4 my-8 mx-4">
  <h1 class="text-4xl">OCCASIONAL WEAR SILK </h1>
<div class="carousel-container">
  
  <div class="carousel-slide">
    <img src="{% static '/app/img/occasional/1.jpg' %}" alt="">
   <h1 class="text-2xl text-center"> Pure Tassac Silk</h1>
  </div>
  <div class="carousel-slide">
    <img src="{% static '/app/img/occasional/2.jpg' %}" alt="">
   <h1 class="text-2xl text-center">Pure Matka Silk</h1>
  </div>
  <div class="carousel-slide">
    <img src="{% static '/app/img/occasional/6.jpg' %}" alt="">
   <h1 class="text-2xl text-center">Pure Organza Silk</h1>
  </div>
  <div class="carousel-slide">
    <img src="{% static '/app/img/occasional/4.jpg' %}" alt="">
   <h1 class="text-2xl text-center"> Jute Silk Saree</h1>
  </div>
  <div class="carousel-slide">
    <img src="{% static '/app/img/occasional/5.jpg' %}" alt="">
   <h1 class="text-2xl text-center">Modal Silk Saree</h1>
  </div>
  
</div>
</div>