<div class="flex  flex-col justify-center gap-8 py-8 ">
    <h1 class="text-4xl text-center" >SHOP BY PRICE</h1>
    <div class="flex justify-around">

       <div class="flex flex-col gap-2 justify-items-center items-center">
        <div class="overflow-hidden w-40 h-40 rounded-full border-2 border-[#b18b2e]">
            <img src="/static/app/img/img1.png" class="rounded-full" alt="">
            </div>
            <h1 class="text-lg text-center">1000-5000</h1>
        </div>
       <div class="flex flex-col gap-2 justify-items-center items-center">
        <div class="overflow-hidden w-40 h-40 rounded-full border-2 border-[#b18b2e]">
            <img src="/static/app/img/img1.png" class="rounded-full" alt="">
            </div>
            <h1 class="text-lg text-center">5000-10000</h1>
        </div>
       <div class="flex flex-col gap-2 justify-items-center items-center">
        <div class="overflow-hidden w-40 h-40 rounded-full border-2 border-[#b18b2e]">
            <img src="/static/app/img/img1.png" class="rounded-full" alt="">
            </div>
            <h1 class="text-lg text-center">10000-15000</h1>
        </div>
       <div class="flex flex-col gap-2 justify-items-center items-center">
        <div class="overflow-hidden w-40 h-40 rounded-full border-2 border-[#b18b2e]">
            <img src="/static/app/img/img1.png" class="rounded-full" alt="">
            </div>
            <h1 class="text-lg text-center">15000-20000</h1>
        </div>
       <div class="flex flex-col gap-2 justify-items-center items-center">
        <div class="overflow-hidden w-40 h-40 rounded-full border-2 border-[#b18b2e]">
            <img src="/static/app/img/img1.png" class="rounded-full" alt="">
            </div>
            <h1 class="text-lg text-center">20000-25000</h1>
        </div>
       <div class="flex flex-col gap-2 justify-items-center items-center">
        <div class="overflow-hidden w-40 h-40 rounded-full border-2 border-[#b18b2e]">
            <img src="/static/app/img/img1.png" class="rounded-full" alt="">
            </div>
            <h1 class="text-lg text-center">25000-30000</h1>
        </div>
       
    </div>
</div>