{% extends 'app/base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto p-8 text-green-900 bg-beige">
    <h1 class="text-3xl font-serif font-bold text-center mb-10 uppercase mt-6">Contact Us</h1>
    <div class="bg-white bg-opacity-40 shadow-lg rounded-lg p-8 mb-10">
        <p class="font-serif text-lg mb-4">Mail us at:</p>
        <p><a href="mailto:contact@kanchivaram.in" class="text-blue-600 hover:underline">contact@kanchivaram.in</a></p>

        <p class="font-serif text-lg mt-6 mb-4">Contact numbers:</p>
        <p>+91 7994137794</p>
        <p>+91 7012007488 (WhatsApp)</p>
        <p>+91 8921243414 (WhatsApp)</p>
    </div>
</div>
{% endblock %}
