{% extends 'app/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'app/css/product.css' %}">
{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="main-image-container">
            <div id="mainImage" class="main-image border-2 border-[#b18b2e]"
                 style="background-image: url('{{ product.image_pallu.url }}');"></div>
            <div class="image-thumbnails">
                {% if product.image_pallu %}
                    <div class="thumbnail"
                         style="background-image: url('{{ product.image_pallu.url }}');"
                         onclick="changeImage('{{ product.image_pallu.url }}')"></div>
                {% endif %}
                {% if product.image_body %}
                    <div class="thumbnail"
                         style="background-image: url('{{ product.image_body.url }}');"
                         onclick="changeImage('{{ product.image_body.url }}')"></div>
                {% endif %}
                {% if product.image_border %}
                    <div class="thumbnail"
                         style="background-image: url('{{ product.image_border.url }}');"
                         onclick="changeImage('{{ product.image_border.url }}')"></div>
                {% endif %}
                {% if product.image_blouse %}
                    <div class="thumbnail"
                         style="background-image: url('{{ product.image_blouse.url }}');"
                         onclick="changeImage('{{ product.image_blouse.url }}')"></div>
                {% endif %}
            </div>
        </div>

        <div class="product-details">
            <h2 class="skema-font uppercase ">{{ product.name }}</h2>
            <p class="font-serif">{{ product.description }}</p>
            <p class="font-serif">Color: {{ product.color }}</p>
            <p class="font-serif">MRP: {{ product.mrp }}</p>
            <p class="font-serif">Weight: {{ product.weight }} gms</p>
            <p class="font-serif">Height: {{ product.length }} m</p>
            <p class="font-serif">Fabric: {{ product.fabric }}</p>
            <a href="{% url 'silk_care_instruction' %}">
                <p class="font-serif text-green-700">
                    >Silk Care Instructions
                </p>
            </a>
            <a href="{% url 'refund_and_return' %}">
                <p class="font-serif text-green-700">
                    >Refund and Return Policy
                </p>
            </a>
            <div class="bg-green-900  margin-10 button-width">
                <a href="{% url 'add_to_cart' product.id %}">
                    <button class="button-width border text-xl font-semibold border-amber-500 hover:shadow-xl hover:border-2 py-2 px-2 text-jost animation-text-gradient">
                        ADD TO CART
                    </button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function changeImage(src) {
            document.getElementById('mainImage').style.backgroundImage = 'url(' + src + ')';
        }
    </script>
{% endblock %}