{% load static %}
<div class="flex flex-col justify-center items-center  my-16 mx-4">
    <h1 class="text-2xl lg:text-4xl uppercase my-4">Similar Products</h1>
    <div class="carousel-container">
        {% for item in similar_products %}
            <div class="carousel-slide mx-3 border-2 flex flex-col justify-center rounded-sm items-center border-[#b18b2e] ">
                <a class="" href="{% url 'product_detail' item.code %}">
                    <img src="{{ item.image_pallu.url }}" alt="" class=" rounded-sm">
                    <div class="mx-2">
                        <h1 class="text-center">{{ item.name }}</h1>
                        <h1 class="text-center">₹{{ item.mrp }}</h1>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

