

/* Initial state of the main image */
.main-image {

}

/* Hover state */
.main-image:hover {
    background-size: 120%; /* Zoom in the background image */
    /* Optional: Adjust background-position for a specific area or keep as center */
}

.product-container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: row;
    color: #102808;
}

.main-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.main-image {
    background-size: cover;
    transition: background-size 0.5s ease, background-position 0.5s ease; /* Smooth transition for zoom effect */
    background-position: center center; /* Center the background image */
    cursor: zoom-in; /* Change cursor to indicate zoom */
    height: 500px;
    width: 30rem;
}

.main-image:hover {
    background-size: 200%; /* Zoom in the background image */
}

.image-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.thumbnail {
    width: 48px;
    height: 48px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

.thumbnail-label {
    display: block; /* Ensure the span takes up the full width under the thumbnail */
    text-align: center; /* Center-align the text */
    margin-top: 50px; /* Space between the thumbnail and the label */
    font-size: 0.75rem; /* Smaller font size for the label */
    color: #1e1d1d; /* Dark text color for better readability */
}

.product-details {
    width: 100%;

}

.product-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.product-details p {
    margin-bottom: 8px;
    font-size: 17px;
}

.button-width{
    width: 170px;
}

.custom-bullets {
    list-style-type: disc; /* Default bullet points */
    padding-left: 20px; /* Ensure there’s space for bullet points */
}

.custom-bullets li {
    margin-bottom: 10px; /* Space between list items */
}

.custom-bullets a {
    text-decoration: none; /* Optional: Removes underline from links */
    color: #065f46; /* Optional: Customize link color */
}

.custom-bullets a:hover {
    text-decoration: underline; /* Optional: Underline on hover */
}



@media (min-width: 1024px) {
    .main-image-container, .product-details {
        width: 50%;
    }

    .image-thumbnails {
        justify-content: start;
    }
}

@media (max-width: 641px) {
    .product-container {
        flex-direction: column;
    }

    .main-image {
        width: 94vw;
        height: 49vh;
        background-size: cover;
        background-position: center;
    }

    .main-image-container {
        margin-right: 0;
    }

    .product-details{
        h2{
            margin-top: 7vh;
        }
    }
}

